@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes bgHighlight_gray {
  0% {
    background-color: rgba(20, 20, 20, 0);
  }
  100% {
    background-color: rgba(20, 20, 20, 0.3);
  }
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: arial, sans-serif;
}
div,
header,
section {
  overflow: hidden;
}
button {
  cursor: pointer;
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
#homeHeader {
  border-bottom: 1px solid lightgray;
}
#homeWrapper {
  z-index: -3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 230px;
  box-sizing: border-box;
  border: 1px solid black;
}
#homeWrapper #home {
  width: 100%;
  height: 100%;
}
#homeWrapper #home header button {
  background-color: transparent;
  border: none;
  height: 50px;
}
#homeWrapper #home header button:hover {
  color: darkred;
}
#feedsListBox {
  overflow-y: scroll;
  height: 96%;
}
#feedsListBox #feedsListBoxTitle {
  font-size: 16px;
  margin: 8px;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
}
#feedsListBox #feedsListBoxTitle a {
  text-decoration: none;
}
#feedsListBox #feedsListBoxTitle i {
  display: none;
}
#feedsListBox #feedsListBoxTitle a {
  color: darkred;
}
#feedsListBox .timeBox {
  color: gray;
  font-size: 15px;
  float: right;
  margin-right: 10px;
  position: relative;
  top: -38px;
}
#feedsListBox .feedItem,
#feedsListBox .sourceUpdateItem {
  overflow: hidden;
  padding-left: 20px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid transparent;
}
#feedsListBox .feedItem .content,
#feedsListBox .sourceUpdateItem .content {
  color: #222222;
  margin-left: 10px;
  width: 800px;
  font-size: 14px;
  line-height: 24px;
}
#feedsListBox .feedItem {
  border: 1px solid lightgrey;
  width: 95%;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  position: relative;
}
#feedsListBox .feedItem .author {
  font-size: 14px;
}
#feedsListBox .feedItem .titleBox {
  width: 90%;
}
#feedsListBox .feedItem button {
  background-color: transparent;
  border: none;
  margin: 3px;
  padding: 0;
  font-size: 16px;
}
#feedsListBox .feedItem .likeBtn:hover {
  color: orange;
}
#feedsListBox .feedItem .likeBtn.active {
  color: orange;
}
#feedsListBox .feedItem .shareBtn {
  margin-left: 20px;
}
#feedsListBox .feedItem .shareBtn:hover {
  color: darkgreen;
}
#feedsListBox .feedItem .shareBtn.active {
  color: darkgreen;
  cursor: auto;
}
#feedsListBox .feedItem .feedTitle {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: darkblue;
}
#feedsListBox .feedItem.focus {
  border-left: 3px solid darkred;
  padding-left: 18px;
}
#feedsListBox .feedItem.readed .feedTitle {
  color: rgba(20, 20, 20, 0.8);
}
#feedsListBox .sourceUpdateItem {
  width: 850px;
  padding-bottom: 10px;
  cursor: pointer;
}
#feedsListBox .sourceUpdateItem .content {
  max-height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#feedsListBox .sourceUpdateItem .content img {
  max-width: 350px;
  height: auto;
  border: 10px solid white;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 grey;
}
#feedsListBox .sourceUpdateItem img {
  max-width: 350px;
  border: 10px solid white;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 grey;
}
#feedsListBox .sourceUpdateItem .sourceTitle {
  color: darkblue;
}
#feedsListBox .sourceUpdateItem:hover {
  background-color: rgba(100, 100, 100, 0.1);
}
#feedsListBox footer {
  width: 97%;
}
#feedsListBox .feedsListFooter p {
  margin: 0;
  border-top: 1px solid lightgray;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: lightgray;
}
#feedsListBox .feedsListLoadingFooter {
  font-size: 30px;
  text-align: center;
  margin: 15px;
}
#sourceItemMenu {
  display: none;
  border: 1px solid gray;
  background-color: white;
  width: 110px;
  padding-top: 10px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 0 0 6px #999797;
}
#sourceItemMenu header p {
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
  width: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#sourceItemMenu button {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 5px;
  border: none;
  text-align: left;
  padding-left: 10px;
  background-color: transparent;
}
#sourceItemMenu button:hover {
  color: darkred;
  font-weight: bold;
}
#leftPanelWrapper {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}
#leftPanel {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  text-align: center;
}
#leftPanel button {
  display: block;
}
#leftPanel h1 {
  color: 55,55,55;
}
#leftPanel #subscribeBtn {
  margin: 15px auto;
  width: 100px;
  height: 30px;
  background-color: lightyellow;
  border: 1px solid orange;
}
#leftPanel #homepageBtn,
#leftPanel #recommandPageBtn {
  width: 80%;
  margin: auto;
  background-color: transparent;
  border: none;
  height: 25px;
  margin-bottom: 5px;
}
#leftPanel #homepageBtn.active {
  color: darkred;
  font-weight: bold;
}
#leftPanel #recommandPageBtn.active {
  color: darkred;
  font-weight: bold;
}
#leftPanel #recommandPageBtn.unread {
  color: orange;
  font-weight: bold;
}
#leftPanel #homepageBtn:hover {
  background-color: lightgrey;
}
#leftPanel #recommandPageBtn:hover {
  background-color: lightgrey;
}
#leftPanel #sourceList {
  width: 90%;
  margin: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  padding-top: 10px;
}
#leftPanel .sourceListItem {
  margin: 0;
  cursor: pointer;
}
#leftPanel .sourceListItem .iconWrapper {
  margin: 0;
  padding: 0;
  display: inline;
}
#leftPanel .sourceListItem .iconWrapper img {
  margin-top: 4px;
  margin-left: 15px;
  float: left;
  width: 18px;
  height: auto;
}
#leftPanel .sourceListItem .iconWrapper i {
  font-size: 18px;
  margin-top: 4px;
  margin-left: 15px;
  float: left;
  width: 18px;
  height: auto;
}
#leftPanel .sourceListItem p {
  margin: 5px auto;
  display: inline-block;
  font-size: 13px;
}
#leftPanel .sourceListItem .source {
  text-align: left;
  float: left;
  margin-left: 13px;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#leftPanel .sourceListItem.active {
  font-weight: bold;
  color: darkred;
}
#leftPanel .sourceListItem:hover {
  color: darkred;
}
#subscribePopup {
  text-align: center;
  z-index: 1000;
  margin: auto;
  margin-top: 15%;
  width: 250px;
  height: 180px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow: 0 0 10px lightgray;
}
#subscribePopup h3 {
  color: darkred;
}
#subscribePopup p {
  font-size: 13px;
  color: gray;
}
#subscribePopup input {
  height: 20px;
  border: 2px solid gray;
  margin-bottom: 20px;
}
#subscribePopup button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 10px;
}
#subscribePopup button:hover {
  color: darkred;
}
#messageBoxWrapper {
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}
#messageBox {
  font-size: 13px;
  display: none;
  width: 150px;
  margin: auto;
  padding: 20px auto;
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: rgba(20, 20, 20, 0.6);
  background-color: white;
  color: white;
  color: darkred;
}
#messageBox #spinner {
  display: inline-block;
}
#messageBox p {
  display: inline-block;
  margin: 7px auto;
}
#messageBox .error {
  color: red;
}
